body {
    margin: 0px;
    padding: 0px;
    background: #F3F5FC;
}
.logo {
    position: absolute;
left: 10%;
top: 40px;
}

.left {
    float: left;
    width: 50%;
    height: 85%;
    border-radius: 24px;
    top: 40px;
    left: 5%;
    position: absolute;
    margin-left: 30px;
}
.text-input {
    float: left;
    margin-left: 10%;
    margin-top: 30%;
    margin-bottom: 30%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    background: #F3F5FC;
    outline: none;
    border: none;
    font-size: 20px;
}

.left-button {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}

.left-button #reglas {
    margin-left: 15%;
}
  
  
#btn-encriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    background: #0A3871;
    border-radius: 24px;
    margin-left: 15%;
    color: white;
    border-color: #0A3871;
}
#btn-desencriptar {
    padding: 24px;
    width: 30%;
    height: 60%;
    background: #D8DFE8;
    border-radius: 24px;
    margin-left: 10%;
    border-color: #D8DFE8;
    color: #0A3871;
}

.right {
position: absolute;
width: 35%;
height: 85%;
left: 60%;
top: 40px;
/* White */
background: #FFFFFF;
/* shadow */
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

#imgDer {
    margin-top: 15%;
    width: 90%;
    height: auto;
    left: 1032px;
    top: 283px;
}
#texto ,#texto2 {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: large;
}
#texto2 {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    color: #0A3871;
    width: 80%;
    height: auto;
    
    outline: none;
    border: none;
    font-size: 15px;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    display: none;
    padding: 24px;
    width: 40%;
    height: auto;
    background: #D8DFE8;
    border-radius: 24px;
}